.frame {
   background:linear-gradient(131deg, rgba(97, 192, 191, 0.28) 0%, rgba(255, 182, 185, 0.46) 48.96%, #FAE3D9 100%);
   padding: 20px;
   height: auto;
   width: auto;
  }
  
h1 {
    text-align: center;
    color: black;
    font-family: sen;
    /* margin: auto;
    padding: 100px; */
  }
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}
.container-1,.container-2,.container-3{
    display: flexbox;
    width: 200px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    font-family:sen;

}
  .input-container {
   margin-top: 10px;
   border-color: #FFF;

  }
   
  
  #resultContainer {
    display: grid;
    text-align: center;
    font-weight: bold; 
    width: 776px;
    height: 54px;
    margin: auto;
    /* margin-top: 25px; */
    flex-direction: row;
    align-content: center;
    color: #20B2AA;
    font-family: Sen;

  }
  #submitBtn{
    background: rgba(97, 172, 243, 0.84); 
    border-color: #FFF;
    display:grid;
    margin: auto;
    margin-top: 70px;
    flex-direction: row;
    align-content: center;
    color: #FFF;
   text-align: center;
  font-family: Sen;
  width: 100px;
  height: 30px;

  }
  
