body {
    background-color: #000000;
  }
  
  #form-container {
    background-color: blanchedalmond;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  form {
    background-color: #eee;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
  }